---
import '../styles/components.css';

const {title} = Astro.props;
const {img} = Astro.props;
const {size} = Astro.props;
const {allign} = Astro.props;
const {pos} = Astro.props;
const {alt} = Astro.props;
const {space} = Astro.props;
---

<div class="${allign} ${pos} scale-in">
    <div class={space}></div>
	<div class="bordered-img ${size}-img">
		<img src={img} alt={alt}>
	</div>
</div>